<!DOCTYPE html>
<html>
  <head>
    <title>page1</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
    <script src="js/jquery.min.js"></script>
  </head>
  <body>
    <div class="wrap order-page">

      <div class="toutu">
        <img style="width: 100%; height: auto;" src="images/gubei.jpg"/>
      </div>
      <h1>和我们一起, 赴一场浪漫的星空之旅</h1>
      <form>
        <div class="form-group">
          <label>联系电话:</label>
          <input id="tel" class="form-control" type="tel" />
        </div>

        <!-- 请选择出行时间 (下拉列表框) -->
        <div class="form-group">
          <label>出行时间:</label>
          <select id="travel_date">
            <option value="7月7日 （周六）">7月7日 （周六）</option>
            <option value="7月14日（周六）">7月14日（周六）</option>
            <option value="7月21日（周六）">7月21日（周六）</option>
            <option value="7月28日（周六）">7月28日（周六）</option>
          </select>
        </div>

        <div id="destination" class="form-group destination">
          <label>目的地:</label><span>古北水镇</span>
        </div>

        <div id="" class="form-group">
          <label>产品编号:</label><span>56451585</span>
        </div>

        <div id="" class="form-group stock">
          <label>产品库存:</label><span>66 位</span>
        </div>

        <div class="form-group">
          <label>出行人数:</label>
          <select id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </div>

        <div id="" class="form-group sum">
          <label>订单金额:</label><span>540</span> 元
        </div>

        <div class="form-group">
          <label>兑换码:</label>
          <input id="code" class="form-control" type="text" placeholder="请输入您手机收到的兑换码" />
        </div>

        <div id="" class="form-group sum">
          <label>实际金额:</label><span>360</span> 元
        </div>

        <div class="form-group form-submit">
          <input type="submit" value="微信支付" />
        </div>
      </form>
      <div class="description">
        古北水镇位于北京市密云区古北口镇，坐落在司马台长城脚下。古北水镇是集观光游览、休闲度假、商务会展、创意文化等旅游业态为一体，服务与设施一流、参与性和体验性极高的综合性特色休闲国际旅游度假目的地。度假区内拥有43万平方米精美的明清及民国风格的山地合院建筑。
    </div>
  </body>
</html>
